@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MuniChorrillos2.Models.TipoDoc>


@{
    ViewData["Title"] = "Mantenimiento de Documentos";
    var successMessage = TempData["SuccessMessage"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TipoDoc.css" asp-append-version="true" />
    <title>Mantenimiento de Tipos de Documento</title>
</head>
<body>

    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                Mantenimiento de Tipos de Documento
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTipoDoc">Agregar</button>
                <hr />
                <div class="table-responsive">
                    <table class="table table-striped mx-auto" id="tblTipoDoc">
                        <thead>
                            <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Número de Identificación</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumIdentifica)</td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalTipoDoc"
                                                data-tipo-doc-id="@item.IdTipoDoc" data-descripcion="@item.Descripcion" data-num-identifica="@item.NumIdentifica">
                                            Actualizar
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete"
                                                data-tipo-doc-id="@item.IdTipoDoc">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal para agregar/actualizar tipo de documento -->
    <div class="modal fade" id="modalTipoDoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tipo de Documento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="tipoDocForm" action="/TipoDoc/CreateOrUpdate" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtDescripcion" name="Descripcion" placeholder="Descripción">
                            <label for="txtDescripcion">Descripción</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtNumIdentifica" name="NumIdentifica" placeholder="Número de Identificación">
                            <label for="txtNumIdentifica">Número de Identificación</label>
                        </div>
                        <input type="hidden" id="hddIdTipoDoc" name="IdTipoDoc" value="0">
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnguardarDocumento" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para confirmar eliminación -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmar eliminación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este tipo de documento?
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" action="/TipoDoc/DeleteConfirmed" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="deleteTipoDocId" name="id" value="">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script>
        //para el manejo del mensaje de conformidad
        var successMessage = '@Html.Raw(successMessage ?? "")';
        if (successMessage !== "") {
            $(document).ready(function () {
                $('#modalSuccess').modal('show');
            });
        }
    </script>
    <script src="~/js/TipoDoc.js" asp-append-version="true"></script>
</body>
</html>
