@model MuniChorrillos2.Models.Horario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hingreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hingreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hsalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hsalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAreaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAreaNavigation.IdArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.IdEmpleado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdHorario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
