@model MuniChorrillos2.Models.Infraccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Infraccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomInfraccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomInfraccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rango)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rango)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInfraccion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
